// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#logo {
  &:link, &:visited, &:hover {
    color: white;
    text-decoration: none;
  }
}

.product-card-img {
    img {
      width: 200px;
    }

    .original-price-cross {
      text-decoration: line-through;
    }
}

.product-detail-page {
  img {
    max-width: 400px;
    max-height: 600px;
  }

  .price-action-tab {
    width: 350px;

    // .price-action-box {
    //   height: calc(100% - 64px);

    //   .price-action-grid {
    //     height: 100%;
    //   }
    // }
  }

  .original-price-cross {
    text-decoration: line-through;
  }
}

.product-filter-buttons {
  & > * {
    margin: 5px !important;
    transition: background-color 0.3s;
  }
}

.search-page {
  .category-select {
    width: 100%;
  }
  .search-bar {
    width: 100%;
  }
}

.shopping-cart-card {
  img {
    width: 100px;
    height: 150px;
  }

  .original-price-cross {
    text-decoration: line-through;
  }
}

.order-detail-card {
  img {
    width: 50px;
    height: 80px;
  }

  .original-price-cross {
    text-decoration: line-through;
  }
}
